@import "colors";

.options-container {
  display: block;
  padding: 0 0.875rem;
  height: 2.5rem;
  line-height: 2.5rem;
  color: @gray80;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
  cursor: pointer;
}

.option-item-active {
  background-color: @gray10;
  outline: none;
  @media screen and (-ms-high-contrast: active) {
    background-color: @gray10;
  }
}

.option-item-pressed() {
  background-color: @gray20;
  outline: none;
  @media screen and (-ms-high-contrast: active) {
    background-color: @gray20;
  }
}


.option-item-disabled() {
  color: #93a1aa;
  cursor: auto;
  &:hover, &:focus {
    outline: none;
    background-color: #fff;
    @media screen and (-ms-high-contrast: active) {
      background-color: #fff;
    }
  }
}
