<div class="elevation">
    <div class="elevation-container">
        <p>01 dp</p>
        <div class="sp-elevation--1 elevation-box"></div>
    </div>
    <div class="elevation-container">
        <p>02 dp</p>
        <div class="sp-elevation--2 elevation-box"></div>
    </div>
    <div class="elevation-container">
        <p>06 dp</p>
        <div class="sp-elevation--3 elevation-box"></div>
    </div>
    <div class="elevation-container">
        <p>08 dp</p>
        <div class="sp-elevation--4 elevation-box"></div>
    </div>
    <div class="elevation-container">
        <p>12 dp</p>
        <div class="sp-elevation--5 elevation-box"></div>
    </div>
    <div class="elevation-container">
        <p>24 dp</p>
        <div class="sp-elevation--6 elevation-box"></div>
    </div>
</div>