<!-- Menu Item -->
<ng-container *ngIf="type == 'menuItem'">
    <li nz-menu-item class="side-navigation-component">
        <span>
      <svg-icon
        *ngIf="icon"
        nz-icon
        [svgStyle]="{ 'height.px': 20 }"
        [name]="icon"
      ></svg-icon
    ></span>
        <span class="text">{{ text }}</span>
    </li>
</ng-container>

<!-- Sub Menu -->
<ng-container *ngIf="type == 'subMenu'">
    <li [nzTitle]="text" nzOpen nz-submenu>
        <span title><span>
        <svg-icon
          *ngIf="icon"
          nz-icon
          [svgStyle]="{ 'height.px': 20 }"
          [name]="icon"
        ></svg-icon></span
      ><span>{{ text }}</span></span>
        <ul>
            <ng-container *ngFor="let item of items">
                <li nz-menu-item>
                    <span>
            <svg-icon
              *ngIf="item.icon"
              nz-icon
              [svgStyle]="{ 'height.px': 20 }"
              [name]="item.icon"
            ></svg-icon
          ></span>
                    <span class="text">{{ item.text }}</span>
                </li>
            </ng-container>
        </ul>
    </li>
</ng-container>

<!-- Menu -->
<ng-container *ngIf="type == 'menu'">
    <ul nz-menu></ul>
</ng-container>