<button nz-button nzNoAnimation [nzType]="type" [nzSize]="size" [disabled]="disabled"
        [ngClass]="{
          'ant-btn-secondary': type === B.secondary,
          'ant-btn-tertiary': type === B.tertiary,
          'with-text': text != null,
          'button-sm': size === S.small,
          'button-md': size === S.medium,
          'button-lg': size === S.large
        }"
        [style.color]="type === B.inverted ? '#FFFFFF' : '#0D0C0B'"
        [style.backgroundColor]="color"
        [style.borderColor]="type === B.inverted ? '#FFFFFF' : color">
  <spt-icon *ngIf="leftIcon" [name]="leftIcon" [color]="iconColor"></spt-icon>
  <span *ngIf="text" [ngClass]="{leftIcon: leftIcon,rightIcon: rightIcon}">{{ text }}</span>
  <spt-icon *ngIf="rightIcon" [name]="rightIcon" [color]="iconColor"></spt-icon>
</button>
