<button nz-button nzNoAnimation [disabled]="disabled"
        [nzType]="type === 'secondary' ? 'default' : (type == 'inverted' ? 'primary' : type)"
        [ngClass]="{
          'ant-btn-secondary': type == 'default' || type == 'secondary',
          'ant-btn-tertiary': type == 'link',
          'with-text': text != null,
          'button-sm': size === 'small',
          'button-md': size === 'medium',
          'button-lg': size == 'large'
        }"
        [style.color]="type == 'inverted' ? '#FFFFFF' : '#0D0C0B'"
        [style.backgroundColor]="color"
        [style.borderColor]="type == 'inverted' ? '#FFFFFF' : color">
  <spt-icon *ngIf="leftIcon" [name]="leftIcon" [color]="iconColor"></spt-icon>
  <span *ngIf="text" [ngClass]="{leftIcon: leftIcon,rightIcon: rightIcon}">{{ text }}</span>
  <spt-icon *ngIf="rightIcon" [name]="rightIcon" [color]="iconColor"></spt-icon>
</button>
