.leftIcon {
    margin-left: 10px;
}

.rightIcon {
    margin-right: 10px;
}

.ant-btn[disabled] {
    background-color: rgba(0,0,0,0);
}

.ant-btn[disabled] span {
    color: #B1B1B1 !important;
}

.button-sm {
    height: 34px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    box-shadow: none;
}

.button-md {
    height: 42px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    box-shadow: none;
}

.button-lg {
    height: 50px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    box-shadow: none;
}
