<div class="text-field-section">
    <h2>DATE PICKER</h2>

    <div class="sp-spacing-y--1 text-field-row">
        <div class="sp-spacing-x--1">
            <sp-date-picker [(ngModel)]="date" label="date" size="large"></sp-date-picker>
        </div>
    </div>

    <p>date object: {{date}}</p>

    <div class="sp-spacing-y--1 text-field-row">
        <div class="sp-spacing-x--1">
            <sp-date-picker [(ngModel)]="date2" label="date2" size="large"></sp-date-picker>
        </div>
    </div>

    <p>date object: {{date2}}</p>

</div>
