<ng-template #tplTitle>
    <span class="title">
    {{ upload.title }}
    </span>
</ng-template>
<ng-template #tplContent>
    <span class="content">
    {{ upload.content }}
  </span>
  <br>
  <br>
    <nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    (nzChange)="handleChange($event)"
    class="upload-box"
  >
    <div class="upload-content">
      <spt-icon class="icons" [toolTipTitle]="uploadFile" [name]="uploadFile"></spt-icon>
      <span>Drag and Drop here</span>
      <span>or</span>
      <span><b>BROWSE FILES</b></span>

    </div>
    </nz-upload>

    <div class="under-upload-text">
    <span>Accepted files</span>
    <span>Maximum size</span>
    </div>

</ng-template>
<ng-template #tplFooter let-ref="modalRef">
    <button nz-button nzType="secondary" (click)="modalRef.destroy(); upload.action1()">
    {{ upload.action1Label }}
  </button>
</ng-template>
