<div class="dropdown-example">
    <h2>DROPDOWN</h2>
    <form [formGroup]="sampleForm">
        <!----- LARGE ----->
        <div class="input-large spt-spacing-y--2">
            <h3>Large (single selection)</h3>

            <!-- no icon -->

            <p>No Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" size="large" (dropdownChange)="changeExample($event)">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="largeField1" label="no icon" size="large"
                                 hint="initialized with formControl">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" size="large" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" size="large" [isDisabled]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>

            <!-- start icon -->

            <p>Start Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" size="large" startIcon="delete">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="largeField2" label="start icon" size="large" startIcon="favorite"
                                 hint="initialized with formControl">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" size="large" startIcon="favorite" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" size="large" startIcon="favorite" [isDisabled]="true" >
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>


        <!----- MEDIUM ----->
        <div class="input-large spt-spacing-y--2">
            <h3>Medium (single selection)</h3>

            <!-- no icon -->

            <p>No Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="mediumField1" label="no icon"
                                 hint="initialized with formControl">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" [isDisabled]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>

            <!-- start icon -->

            <p>Start Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" startIcon="favorite">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="mediumField2" label="start icon" startIcon="favorite"
                                 hint="initialized with formControl">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" startIcon="favorite" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" startIcon="favorite" [isDisabled]="true" >
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>

        <!----- Small ----->
        <div class="input-large spt-spacing-y--2">
            <h3>SMALL (single selection)</h3>

            <!-- no icon -->

            <p>No Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown size="small" label="no icon">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown size="small" formControlName="smallField1" label="no icon"
                                 hint="initialized with formControl">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown size="small" label="no icon" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown size="small" label="no icon" [isDisabled]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>

            <!-- start icon -->

            <p>Start Icon</p>
            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" startIcon="favorite">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown [(ngModel)]="model1" [ngModelOptions]="{standalone: true}" label="start icon" startIcon="favorite"
                                 hint="initialized with ngModel">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon" startIcon="favorite" error="error message">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="start icon (disabled)" startIcon="favorite" [isDisabled]="true" >
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>


        <!----- LARGE (MULTIPLE) ------>
        <div class="input-large spt-spacing-y--2">
            <h3>Large (multiple selection)</h3>

            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" size="large" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="largeMultiple" label="large (multiple)" size="large" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>


        <!----- MEDIUM (MULTIPLE) ------>
        <div class="input-large spt-spacing-y--2">
            <h3>Medium (multiple selection)</h3>

            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="mediumMultiple" label="medium (multiple)" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>


        <!----- SMALL (MULTIPLE) ------>
        <div class="input-large spt-spacing-y--2">
            <h3>Small (multiple selection)</h3>

            <div class="spt-spacing-y--1 dropdown-row">
                <div class="spt-spacing-x--1">
                    <spt-dropdown label="no icon" size="small" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-dropdown formControlName="smallMultiple" label="small (multiple)" size="small" [selectMultiple]="true">
                        <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value"></spt-option>
                    </spt-dropdown>
                </div>
            </div>
        </div>
    </form>


    <!----- SAMPLE FORM ----->
    <form [formGroup]="sampleForm2">
        <div class="input-large spt-spacing-y--2">
            <h3>Sample Form</h3>
            <p class="spt-spacing-bottom--3">A combination of Reactive form and Template driven form</p>

            <div class="spt-spacing-bottom--4">
                <spt-dropdown label="formControl 1 (single)" formControlName="field1" hint="initialized with formControl">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>
            <div class="spt-spacing-bottom--4">
                <spt-dropdown placeholder="formControl 2 (single)" formControlName="field2" hint="initialized with formControl">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>
            <div class="spt-spacing-bottom--4">
                <spt-dropdown label="ngModel 1 (single)" [(ngModel)]="model2" [ngModelOptions]="{standalone: true}" hint="initialized with ngModel">
                    <spt-option *ngFor="let o of options" icon="stars" [clickFunction] ="doSomething" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>

            <div class="spt-spacing-bottom--4">
                <spt-dropdown label="formControl 3 (multiple)" formControlName="field3" hint="initialized with formControl" [selectMultiple]="true">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>

            <div class="spt-spacing-bottom--4">
                <spt-dropdown label="formControl 4 (multiple)" formControlName="field4" [selectMultiple]="true">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>

            <div class="spt-spacing-bottom--4">
                <spt-dropdown label="ngModel 2 (multiple)" [(ngModel)]="model3" [ngModelOptions]="{standalone: true}" [selectMultiple]="true" hint="initialized with ngModel">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>
            </div>

            <div class="spt-spacing-bottom--4 dynamic-row">
                <spt-dropdown label="formControl 5 (single dynamic update)" formControlName="field5" hint="should update when button is clicked">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>

                <div class="spt-spacing-left--3">
                    <spt-button text="UPDATE" (click)="updateField5()"></spt-button>
                </div>
            </div>

            <div class="spt-spacing-bottom--4 dynamic-row">
                <spt-dropdown label="formControl 6 (multiple dynamic update)" formControlName="field6" hint="initialized with formControl" [selectMultiple]="true">
                    <spt-option *ngFor="let o of options" [value]="o.id" [text]="o.value" [disabled]="o.disabled"></spt-option>
                </spt-dropdown>

                <div class="spt-spacing-left--3">
                    <spt-button text="UPDATE" (click)="updateField6()"></spt-button>
                </div>
            </div>

        </div>

        <div class="spt-spacing-y--2 spt-spacing-x--1">
            <spt-button [text]="'Save'" [type]="buttonType" [size]="buttonSize" (click)="saveTextField()"></spt-button>
        </div>
    </form>

    <div *ngIf="showValues" class="spt-spacing-y--1 spt-spacing-x--1">
        <div class="spt-spacing-y--1 spt-spacing-x--1 dropdown-preview spt-elevation--2">
            <div class="spt-spacing-y--2">
                <table>
                    <tr><td class="spt-spacing-x--1"><strong>formControl 1: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field1 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 2: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field2 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>ngModel 1: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues2.model1 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 3: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field3 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 4: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field4 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 5: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field5 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 6: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field6 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>ngModel 2: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues2.model2 || '---'}}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
