p {
  margin: 0
}

.dropdown-row {
  display: flex;
  align-items: center;
  div {
    width: 400px;
  }
}

.dropdown-preview {
  background-color: #eee;
  border: 1px solid #000;
}

.dynamic-row {
  display: flex;
}

.dynamic-row spt-dropdown {
  flex: 1;
}
