li[nz-menu-item] .text {
  font-size: 16px;
  line-height: 3px;
  font-weight: 700;
  margin-left: 34px;
}

li[nz-menu-item]:hover {
  background-color: #f3f3f3;
  border-radius: 0px 28px 28px 0px;
  cursor: pointer;
}

li[nz-menu-item].active {
  background-color: #fff3e0;
}

li[nz-menu-item].active svg-icon svg path {
  fill: #ff9900;
}

.ant-menu-submenu-active {
  outline-style: none !important;
}

svg-icon {
  transform: translateY(2px);
}
