<div class="inner-content">
    <div class="section">
        <h2>AVATAR</h2>
        <div nz-space nzAlign="start" class="space-align-block">
            <spt-avatar [size]="avatarS.large" text="A"></spt-avatar>
            <spt-avatar [size]="avatarS.medium" text="A"></spt-avatar>
            <spt-avatar [size]="avatarS.small" text="A"></spt-avatar>
        </div>
    </div>

    <div class="section">
        <h3>ACTIVITY BADGES</h3>
        <div>
            <spt-badge color="#42A5F5" name="ACTIVE"></spt-badge>
            <spt-badge color="#706F6E" name="INACTIVE"></spt-badge>
        </div>

        <h3>SMALL BADGES</h3>
        <div class="badges">
            <div nz-row>
                <div>
                    <span *ngFor="let color of colors">
                        <spt-badge [color]="color.color" [name]="color.name"></spt-badge>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>DIVIDERS</h2>
        <spt-divider></spt-divider>
        <spt-divider [type]="dividerT.vertical"></spt-divider>
    </div>

    <div class="section">
        <h2>ICONS</h2>
        <span class="icons" *ngFor="let icon of icons">
            <spt-icon [toolTipTitle]="icon.name" [name]="icon.name" color="#F7AD00"></spt-icon>
        </span>
    </div>

    <div class="section spt-spacing-y--1">
        <h2>PROGRESS BAR</h2>
        <spt-progress-bar [percent]="50" [info]="false"></spt-progress-bar>
    </div>

    <div class="section spt-spacing-y--1">
        <h2>PROGRESS CIRCLE</h2>
        <div class="spt-spacing--y--1">
            <p>default:</p>
            <spt-progress-circle [percent]="70" [showPercent]="true"></spt-progress-circle>
        </div>
        <div class="spt-spacing--y--1">
            <p>colored:</p>
            <spt-progress-circle [percent]="70" [showPercent]="true" color="#7E57C2"></spt-progress-circle>
        </div>
    </div>

    <div class="section">
        <h2>SELECTION CONTROLS</h2>

        <h2>CHECK BOXES</h2>
        <div nz-row>
            <spt-checkbox value="A" [check]="true">A</spt-checkbox>
            <spt-checkbox value="B" [check]="true">B</spt-checkbox>
            <spt-checkbox value="C" [check]="true">C</spt-checkbox>
            <spt-checkbox value="D">D</spt-checkbox>
            <spt-checkbox value="E">E</spt-checkbox>
            <spt-checkbox value="F">F</spt-checkbox>
            <spt-checkbox value="G" [indeterminate]="true">G</spt-checkbox>
            <spt-checkbox value="H" [indeterminate]="true">H</spt-checkbox>
            <spt-checkbox value="I" [indeterminate]="true">I</spt-checkbox>
        </div>

        <h2>RADIO BUTTONS</h2>
        <spt-radio-button model="B"></spt-radio-button>
        <br />
        <spt-radio-button model="A"></spt-radio-button>

        <h2>SWITCHES</h2>

        <spt-switch [on]="true"></spt-switch>
        <spt-switch [on]="true"></spt-switch>
        <spt-switch [on]="true"></spt-switch>
        <spt-switch [on]="true"></spt-switch>
        <br />
        <spt-switch></spt-switch>
        <spt-switch></spt-switch>
        <spt-switch></spt-switch>
        <spt-switch></spt-switch>
    </div>

    <div class="section">
        <h2>SLIDERS</h2>
        <spt-slider [max]=100 [step]="10" [start]="0"></spt-slider>
        <spt-slider [max]=100 [step]="10" [start]="50"></spt-slider>
        <spt-slider [max]=100 [step]="10" [start]="100"></spt-slider>
        <spt-slider [max]=100 [step]="10" [start]="50" [disable]="true"></spt-slider>

    </div>

    <div class="section">
        <h2>TABS</h2>
        <div class="spt-spacing-y--1">
            <h3>basic tabs:</h3>
            <spt-tab [tabs]="tabs"></spt-tab>
        </div>
        <div class="spt-spacing-y--1">
            <h3>tabs with icon:</h3>
            <spt-tab [tabs]="tabsWithIcon"></spt-tab>
        </div>
    </div>

    <div class="section">
        <h2>TOOLTIPS</h2>
        <spt-tooltip title="promt text" content="Tooltip will show when mouse enter."></spt-tooltip>
    </div>

    <div class="section">
        <h2>ELEVATION</h2>
        <div class="elevation">
            <div class="elevation-container">
                <p>01 dp</p>
                <div class="spt-elevation--1 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>02 dp</p>
                <div class="spt-elevation--2 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>06 dp</p>
                <div class="spt-elevation--3 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>08 dp</p>
                <div class="spt-elevation--4 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>12 dp</p>
                <div class="spt-elevation--5 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>24 dp</p>
                <div class="spt-elevation--6 elevation-box"></div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>SPACING</h2>
        <div class="spacing">
            <div *ngFor="let section of spacing" class="spacing-section">
                <h3>{{ section.sectionName }}</h3>
                <div class="spacing-container">
                    <div *ngFor="let subsection of section.sections" class="spacing-example">
                        <div
                            class="spacing-wrapper spt-elevation--2 {{ section.sectionClassName }} {{subsection.className}}">
                            <div class="spacing-box">
                                <p class="spacing-label">{{ subsection.label }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
