<div class="inner-content">
    <div class="section">
        <h2>AVATAR</h2>
        <div nz-space nzAlign="start" class="space-align-block">
            <sp-avatar [size]="avatarS.large" text="A"></sp-avatar>
            <sp-avatar [size]="avatarS.medium" text="A"></sp-avatar>
            <sp-avatar [size]="avatarS.small" text="A"></sp-avatar>
        </div>
    </div>

    <div class="section">
        <h3>ACTIVITY BADGES</h3>
        <div>
            <sp-badge color="#42A5F5" name="ACTIVE"></sp-badge>
            <sp-badge color="#706F6E" name="INACTIVE"></sp-badge>
        </div>

        <h3>SMALL BADGES</h3>
        <div class="badges">
            <div nz-row>
                <div>
                    <span *ngFor="let color of colors">
                        <sp-badge [color]="color.color" [name]="color.name"></sp-badge>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>DIVIDERS</h2>
        <sp-divider></sp-divider>
        <sp-divider [type]="dividerT.vertical"></sp-divider>
    </div>

    <div class="section">
        <h2>ICONS</h2>
        <span class="icons" *ngFor="let icon of icons">
            <sp-icon [toolTipTittle]="icon.name" [name]="icon.name"></sp-icon>
        </span>
    </div>

    <div class="section">
        <h2>PROGRESS BAR</h2>
        <sp-progress-bar [percent]="50" [info]="false"></sp-progress-bar>
        <sp-progress-bar [percent]="70" [info]="false" [type]="progressT.circle"></sp-progress-bar>
    </div>

    <div class="section">
        <h2>SELECTION CONTROLS</h2>

        <h2>CHECK BOXES</h2>
        <div nz-row>
            <sp-checkbox value="A" [check]="true">A</sp-checkbox>
            <sp-checkbox value="B" [check]="true">B</sp-checkbox>
            <sp-checkbox value="C" [check]="true">C</sp-checkbox>
            <sp-checkbox value="D">D</sp-checkbox>
            <sp-checkbox value="E">E</sp-checkbox>
            <sp-checkbox value="F">F</sp-checkbox>
            <sp-checkbox value="G" [indeterminate]="true">G</sp-checkbox>
            <sp-checkbox value="H" [indeterminate]="true">H</sp-checkbox>
            <sp-checkbox value="I" [indeterminate]="true">I</sp-checkbox>
        </div>

        <h2>RADIO BUTTONS</h2>
        <sp-radio-button model="B"></sp-radio-button>
        <br />
        <sp-radio-button model="A"></sp-radio-button>

        <h2>SWITCHES</h2>

        <sp-switch [on]="true"></sp-switch>
        <sp-switch [on]="true"></sp-switch>
        <sp-switch [on]="true"></sp-switch>
        <sp-switch [on]="true"></sp-switch>
        <br />
        <sp-switch></sp-switch>
        <sp-switch></sp-switch>
        <sp-switch></sp-switch>
        <sp-switch></sp-switch>
    </div>

    <div class="section">
        <h2>SLIDERS</h2>
        <sp-slider [max]=100 [step]="10" [start]="0"></sp-slider>
        <sp-slider [max]=100 [step]="10" [start]="50"></sp-slider>
        <sp-slider [max]=100 [step]="10" [start]="100"></sp-slider>
        <sp-slider [max]=100 [step]="10" [start]="50" [disable]="true"></sp-slider>

    </div>

    <div class="section">
        <h2>TABS</h2>
        <sp-tab [tabs]="tabs"></sp-tab>
    </div>

    <div class="section">
        <h2>TOOLTIPS</h2>
        <sp-tooltip title="promt text" content="Tooltip will show when mouse enter."></sp-tooltip>
    </div>

    <div class="section">
        <h2>ELEVATION</h2>
        <div class="elevation">
            <div class="elevation-container">
                <p>01 dp</p>
                <div class="sp-elevation--1 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>02 dp</p>
                <div class="sp-elevation--2 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>06 dp</p>
                <div class="sp-elevation--3 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>08 dp</p>
                <div class="sp-elevation--4 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>12 dp</p>
                <div class="sp-elevation--5 elevation-box"></div>
            </div>
            <div class="elevation-container">
                <p>24 dp</p>
                <div class="sp-elevation--6 elevation-box"></div>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>SPACING</h2>
        <div class="spacing">
            <div *ngFor="let section of spacing" class="spacing-section">
                <h3>{{ section.sectionName }}</h3>
                <div class="spacing-container">
                    <div *ngFor="let subsection of section.sections" class="spacing-example">
                        <div
                            class="spacing-wrapper sp-elevation--2 {{ section.sectionClassName }} {{subsection.className}}">
                            <div class="spacing-box">
                                <p class="spacing-label">{{ subsection.label }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>