.ant-notification-notice-content {
  background-color: #0d0c0b;
  color: white;
  display: flex;
  align-items: center;
}

.action {
  margin-left: auto;
}

.ant-notification-notice-btn {
  color: white;
}

.ant-notification-notice-message {
  color: white;
  margin-bottom: 0 !important;
}

.ant-notification-notice-description {
  margin-top: 5px;
}

.ant-notification-notice-btn {
  float: left;
  margin-top: 8px;
  cursor: pointer;
}
