<ng-template #template let-snackbar="data">
    <div class="ant-notification-notice-content">
        <div>
            <div class="ant-notification-notice-message">
                {{ snackbar.message }}
            </div>
            <div *ngIf="snackbar.description" class="ant-notification-notice-description">
                {{ snackbar.description }}
            </div>
        </div>

        <div class="action ant-notification-notice-btn">
            <span *ngIf="snackbar.actionMessage" (click)="onAction(snackbar.actionEvent)">
                {{ snackbar.actionMessage | uppercase }}
            </span>
        </div>
    </div>
</ng-template>
