@primary-color: #ff9900;
@primary10: #fff3e0;
@primary20: #ffe1b4;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;
@gray: #706f6e;
@gray10: #f3f3f3;
@gray20: #e2e2e2;
@gray30: #d2d2d2;
@gray40: #b1b1b1;
@gray60: #909090;
@gray70: #706F6E;
@gray80: #4f4e4d;
@gray100: #0d0c0b;
@red: #ef5350;
@pink: #ec407a;
@purple: #ab47bc;
@deep-purple: #7e57c2;
@indigo: #5c6bc0;
@blue: #42a5f5;
@cyan: #26c6da;
@teal: #26a69a;
@green: #66bb6a;
@light-green: #9ccc65;
@amber: #ffb300;
@deep-orange: #ff7043;
