@import "colors.less";
@error: @red;

@font-size: 14px;
@padding-y-large: 14px;
@padding-x-large: 10px;
@padding-y-medium: 10px;
@padding-x-medium: 10px;
@padding-y-small: 8px;
@padding-x-small: 10px;

.overflow-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-field {
  color: #0D0C0B;
  font-size: @font-size;
  height: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid @gray40 !important;
  &.large {
    padding: @padding-y-large @padding-x-large;
    height: 50px;
    & + label {
      top: @padding-y-large;
    }
  }
  &.medium {
    padding: @padding-y-medium @padding-x-medium;
    height: 42px;
    & + label {
      top: @padding-y-medium;
    }
  }
  &.small {
    padding: @padding-y-small @padding-x-small;
    height: 34px;
    & + label {
      top: @padding-y-small;
    }
  }
  &.error, &.has-right-icon {
    padding-right: 45px;
  }
  &.error {
    border: 1px solid @error !important;
    & ~ label {
      color: @error !important;
    }
    &:focus, &:hover, &.ant-picker-focused {
      border: 1px solid @error !important;
      caret-color: @error;
    }
  }
  &.has-left-icon {
    padding-left: 45px;
    & + label {
      left: 45px;
    }
  }
  &:hover {
    border: 1px solid #000 !important;
  }
  &:focus, &.item-focus, &.ant-picker-focused {
    border: 1px solid @primary-color !important;
    caret-color: @primary-color;
    & + label {
      color: @primary-color;
      font-size: 11px;
      top: -8px;
      left: 8px;
      padding: 0 4px;
      background-color: #fff;
    }
  }
}

.text-field-container {
  input, nz-date-picker {
    &::placeholder {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
      padding: 0 4px;
    }
    &:focus, &.ant-picker-focused {
      &::placeholder {
        visibility: visible;
        opacity: 1;
      }
    }
    &.disabled-state {
      cursor: not-allowed !important;
    }
  }
}

.spt-input-container {
  margin: 0;
  position: relative;
  input, nz-date-picker {
    text-overflow: ellipsis;
    box-shadow: none;
    outline: none;
    // max-width: 520px;
    min-height: 24px;
    .form-field();

    &[disabled], &.disabled-state {
      background-color: #ffffff !important;
      color: @gray40 !important;
      border: 1px solid @gray40 !important;
      cursor: not-allowed;
      & ~ label {
        color: @gray40 !important;
      }
      &:hover {
        border: 1px solid @gray40 !important;
      }
    }
    &.dirty {
      & + label {
        color: @gray60;
      }
      &:hover {
        & + label {
          color: #000;
        }
      }
      &:focus, &.ant-picker-focused {
        & + label {
          color: @primary-color;
        }
      }
    }
    &.dirty {
      & + label {
        font-size: 11px;
        top: -8px;
        left: 8px;
        padding: 0 4px;
        background-color: #fff;
      }
    }
    & + label {
      position: absolute;
      left: 12px;
      font-size: @font-size;
      color: @gray60;
      background-color: rgba(255,255,255,0);
      pointer-events: none;
      transition: all 0.2s ease, background-color 0.2s ease-in;
    }
  }
  .text-field-icon {
    position: absolute;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
  .error-icon, .right-icon {
    right: 12px;
  }
  .left-icon {
    left: 12px;
  }

  .left-icon, .right-icon {
    svg {
      path:last-child {
        fill: @gray70;
      }
    }
  }
  .error-icon {
    svg {
      path:last-child {
        fill: @error;
      }
    }
  }
  label {
    &.text-field-bottom-label {
      font-size: 12px;
      margin-top: 10px;
      position: absolute;
      bottom: -20px;
      width: 80%;
      .overflow-text();
    }
    &.text-field-label {
      max-width: 80%;
      .overflow-text();
    }
    &.error-label, &.hint-label {
      left: 12px;
    }
    &.length-label {
      right: 12px;
      width: fit-content !important
    }
    &.error-label {
      color: @error;
    }
    &.hint-label, &.length-label {
      color: #4F4E4D;
    }
  }
  &.disabled-container {
    .text-field-bottom-label {
      color: @gray40 !important;
    }

    .text-field-icon {
      svg {
        path:last-child {
          fill: @gray40;
        }
      }
    }
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  .form-field();
  input, nz-date-picker {
    &, &:hover, &:focus {
      border: none !important;
    }
  }
  .search-icon {
    height: 24px;
  }
  &.large {
    .search-icon {
      margin-left: @padding-x-large;
      margin-right: @padding-x-large;
    }
  }
  &.medium {
    .search-icon {
      margin-left: @padding-x-medium;
      margin-right: @padding-x-medium;
    }
  }
  &.small {
    padding: 4px @padding-x-small;
    .search-icon {
      margin-left: @padding-x-small;
      margin-right: @padding-x-small;
    }
  }
  .selected-items {
    display: flex;
    flex-wrap: wrap;
    .selected-item {
      margin: 1px
    }
  }
}

.date-picker-close {
  cursor: pointer;
}
