<div #menuReference class="menu-wrapper" [ngClass]="{'show-menu': isShowing()}">
    <spt-overlay-template [reference]="menuReference" #menuComp>
        <div class="menu-container spt-elevation--5">

            <!---- search ---->
            <div *ngIf="search" class="search-container spt-spacing--1 spt-spacing-top--2">
                <div class="search-input">
                    <input #searchEl
                           placeholder="Search"
                           [(ngModel)]="searchModel"
                           (ngModelChange)="change()"
                           (keydown)="onKeyDown($event)"/>
                </div>
            </div>

            <!---- select all ---->
            <div *ngIf="multiple && selectAllOption" class="menu-item spt-spacing--1 multiple-menu-item" (click)="toggleSelectAllAction()">
                <div>
                    <label nz-checkbox [(ngModel)]="selectAll" (ngModelChange)="toggleSelectAllAction(true)"></label>
                </div>
                <div class="label">Select All</div>
            </div>

            <!-- options list -->
            <ng-content select="spt-menu-item"></ng-content>
            <ng-content select="ng-container"></ng-content>
        </div>
    </spt-overlay-template>
</div>

