<div class="section">
    <h2>TEXT FIELDS</h2>

    <form [formGroup]="sampleForm">
        <div class="input-large sp-spacing-y--2">
            <h3>Large</h3>


            <!-- no icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'No Icon'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="largeField1"
                                   [size]="'large'"
                                   [label]="'No Icon'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'No Icon'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>
                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="largeFieldDisabled"
                                   [size]="'large'"
                                   [label]="'No Icon'"
                                   [hint]="'disabled using formControl'">
                    </sp-text-field>
                </div>
            </div>

            <!-- start icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="largeField2"
                                   [size]="'large'"
                                   [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="largeFieldDisabled2"
                                   [size]="'large'"
                                   [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>

            <!-- end icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="largeField3"
                                   [size]="'large'"
                                   [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Start Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30" [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>

            <!-- start & end icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [(ngModel)]="model1"
                                   [ngModelOptions]="{standalone: true}"
                                   [size]="'large'"
                                   [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with ngModel'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [size]="'large'"
                                   [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>
        </div>

        <div class="input-large sp-spacing-y--2">
            <h3>Medium (default)</h3>

            <!-- no icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'No Icon'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="mediumField1"
                                   [label]="'No Icon'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'No Icon'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [error]="'example error message'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'No Icon'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>

            <!-- start icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="mediumField2"
                                   [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'Start Icon'"
                                   [startIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>

            <!-- end icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field formControlName="mediumField3"
                                   [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [error]="'example error message'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'End Icon'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>

            <!-- start & end icon -->
            <div class="sp-spacing-y--1 text-field-row">
                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [(ngModel)]="model2"
                                   [ngModelOptions]="{standalone: true}"
                                   [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [hint]="'initialized with ngModel'">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field
                            [(ngModel)]="model1"
                            [ngModelOptions]="{standalone: true}"
                            [label]="'Two Icons'"
                            [startIcon]="'favorite'"
                            [endIcon]="'favorite'"
                            [placeholder]="'placeholder'"
                            [error]="'example error message'"
                            [max]="30">
                    </sp-text-field>
                </div>

                <div class="sp-spacing-x--1">
                    <sp-text-field [label]="'Two Icons'"
                                   [startIcon]="'favorite'"
                                   [endIcon]="'favorite'"
                                   [placeholder]="'placeholder'"
                                   [max]="30"
                                   [isDisabled]="true">
                    </sp-text-field>
                </div>
            </div>
        </div>
    </form>

    <form [formGroup]="sampleForm2">
        <div class="input-large sp-spacing-y--2">
            <h3>Sample Form</h3>
            <p>A combination of Reactive form and Template driven form</p>

            <div class="sp-spacing-x--1">
                <sp-text-field formControlName="field1" [label]="'formControl 1'"></sp-text-field>
            </div>
            <div class="sp-spacing-x--1">
                <sp-text-field formControlName="field2" [label]="'formControl 2'"></sp-text-field>
            </div>
            <div class="sp-spacing-x--1">
                <sp-text-field [(ngModel)]="model3" [ngModelOptions]="{standalone: true}" [label]="'ngModel 1'"></sp-text-field>
            </div>
            <div class="sp-spacing-x--1">
                <sp-text-field [(ngModel)]="model4" [ngModelOptions]="{standalone: true}" [label]="'ngModel 2'"></sp-text-field>
            </div>
        </div>

        <sp-button [text]="'Save'" [type]="buttonType" [size]="buttonSize" (click)="saveTextField()"></sp-button>
    </form>

    <div *ngIf="showValues" class="sp-spacing-y--1 sp-spacing-x--1">
        <div class="sp-spacing-y--1 sp-spacing-x--1 text-fields-preview sp-elevation--2">
            <p>formControl values: </p>
            <p>{{ savedValues1 | json }}</p>

            <p>ngModel values</p>
            <p>model1: {{savedValues2.model1}}</p>
            <p>model2: {{savedValues2.model2}}</p>
        </div>
    </div>
</div>
