<div class="text-field-section">
    <h2>TEXT FIELDS</h2>

    <form [formGroup]="sampleForm">
        <div class="input-large spt-spacing-y--2">
            <h3>Large</h3>

            <!-- no icon -->
            <p>No Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="No Icon"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="largeField1"
                                   size="large"
                                   label="No Icon"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="No Icon"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>
                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="largeFieldDisabled"
                                   size="large"
                                   label="No Icon"
                                   [hint]="'disabled using formControl'">
                    </spt-text-field>
                </div>
            </div>

            <!-- start icon -->
            <p>Start Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="largeField2"
                                   size="large"
                                   label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="largeFieldDisabled2"
                                   size="large"
                                   label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   hint="disabled"
                                   [max]="30"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>

            <!-- end icon -->
            <p>End Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="largeField3"
                                   size="large"
                                   [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Start Icon"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   hint="disabled"
                                   [max]="30" [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>

            <!-- start & end icon -->
            <p>Start and End Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field [(ngModel)]="model1"
                                   [ngModelOptions]="{standalone: true}"
                                   size="large"
                                   label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="initialized with ngModel">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field size="large"
                                   label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="disabled"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>
        </div>

        <div class="input-large spt-spacing-y--2">
            <h3>Medium (default)</h3>

            <!-- no icon -->
            <p>No Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field label="No Icon"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="mediumField1"
                                   label="No Icon"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field label="No Icon"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [error]="'example error message'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field label="No Icon"
                                   [max]="30"
                                   hint="disabled"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>

            <!-- start icon -->
            <p>Start Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="mediumField2"
                                   label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field label="Start Icon"
                                   startIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="disabled"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>

            <!-- end icon -->
            <p>End Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field formControlName="mediumField3"
                                   [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   [hint]="'initialized with formControl'">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [error]="'example error message'"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field [label]="'End Icon'"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="disabled"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>

            <!-- start & end icon -->
            <p>Start and End Icon</p>
            <div class="spt-spacing-y--1 text-field-row">
                <div class="spt-spacing-x--1">
                    <spt-text-field label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field [(ngModel)]="model2"
                                   [ngModelOptions]="{standalone: true}"
                                   label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="initialized with ngModel">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field
                            [(ngModel)]="model1"
                            [ngModelOptions]="{standalone: true}"
                            label="Two Icons"
                            startIcon="favorite"
                            endIcon="favorite"
                            placeholder="placeholder"
                            [error]="'example error message'"
                            [max]="30">
                    </spt-text-field>
                </div>

                <div class="spt-spacing-x--1">
                    <spt-text-field label="Two Icons"
                                   startIcon="favorite"
                                   endIcon="favorite"
                                   placeholder="placeholder"
                                   [max]="30"
                                   hint="disabled"
                                   [isDisabled]="true">
                    </spt-text-field>
                </div>
            </div>
        </div>
    </form>

    <form [formGroup]="sampleForm2">
        <div class="input-large spt-spacing-y--2">
            <h3>Sample Form</h3>
            <p>A combination of Reactive form and Template driven form</p>

            <div class="spt-spacing-x--1">
                <spt-text-field formControlName="field1" label="formControl 1"></spt-text-field>
            </div>
            <div class="spt-spacing-x--1">
                <spt-text-field formControlName="field2" label="formControl 2"></spt-text-field>
            </div>
            <div class="spt-spacing-x--1">
                <spt-text-field [(ngModel)]="model3" [ngModelOptions]="{standalone: true}" label="ngModel 1"></spt-text-field>
            </div>
            <div class="spt-spacing-x--1">
                <spt-text-field [(ngModel)]="model4" [ngModelOptions]="{standalone: true}" label="ngModel 1">></spt-text-field>
            </div>
        </div>

        <div class="spt-spacing-y--2 spt-spacing-x--1">
            <spt-button [text]="'Save'" [type]="buttonType" [size]="buttonSize" (click)="saveTextField()"></spt-button>
        </div>
    </form>

    <div *ngIf="showValues" class="spt-spacing-y--1 spt-spacing-x--1">
        <div class="spt-spacing-y--1 spt-spacing-x--1 text-fields-preview spt-elevation--2">
            <div class="spt-spacing-y--2">
                <table>
                    <tr><td class="spt-spacing-x--1"><strong>formControl 1: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field1 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>formControl 2: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues1.field2 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>model1: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues2.model1 || '---'}}</td></tr>

                    <tr><td class="spt-spacing-x--1"><strong>model2: </strong></td>
                        <td class="spt-spacing-x--1">{{savedValues2.model2 || '---'}}</td></tr>

                </table>
            </div>
        </div>
    </div>
</div>
