.back-navigation {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 5ms ease-in-out;
    width: fit-content;
}

.back-icon {
    transform: translateY(-1px);
}

.back-navigation:hover {
    opacity: 0.7;
}
