<div class="menu-section">
    <h2>MENU</h2>
    <div class="spt-spacing-y--1">
        <h3>Single Selection</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu1"></spt-button>
                <spt-menu #menu1>
                    <spt-menu-item (click)="actionSelected('item 1 selected', 1)">sample 1</spt-menu-item>
                    <spt-menu-item (click)="actionSelected('item 2 selected', 1)">sample 2</spt-menu-item>
                    <spt-menu-item (click)="actionSelected('item 3 selected', 1)">sample 3</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>action: </strong></p>
                <p *ngIf="!actionText[1]"><em>select an item on the menu</em></p>
                <p>{{actionText[1]}}</p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Single Selection (with icon)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu2"></spt-button>
                <spt-menu #menu2>
                    <spt-menu-item startIcon="delete" (click)="actionSelected('item 1 selected', 2)">sample 1</spt-menu-item>
                    <spt-menu-item startIcon="delete" (click)="actionSelected('item 2 selected', 2)">sample 2</spt-menu-item>
                    <spt-menu-item startIcon="delete" (click)="actionSelected('item 3 selected', 2)">sample 3</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>action: </strong></p>
                <p *ngIf="!actionText[2]"><em>select an item on the menu</em></p>
                <p>{{actionText[2]}}</p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Single Selection (with search)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu3"></spt-button>
                <spt-menu #menu3 [search]="true" [(searchModel)]="searchModel1" (searchModelChange)="filter1()">
                    <spt-menu-item *ngFor="let f of filteredMenuItems1"
                                  (click)="actionSelected(f.text, 3)">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>action: </strong></p>
                <p *ngIf="!actionText[3]"><em>select an item on the menu</em></p>
                <p>{{actionText[3]}}</p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Single Selection (with search and icon)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu4"></spt-button>
                <spt-menu #menu4 [search]="true" [(searchModel)]="searchModel2" (searchModelChange)="filter2()">
                    <spt-menu-item *ngFor="let f of filteredMenuItems2"
                                  (click)="actionSelected(f.text, 4)"
                                  [startIcon]="f.icon">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>action: </strong></p>
                <p *ngIf="!actionText[4]"><em>select an item on the menu</em></p>
                <p>{{actionText[4]}}</p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Multiple Selection</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu5"></spt-button>
                <spt-menu #menu5 [multiple]="true" [(selectedItems)]="selectedItems1">
                    <spt-menu-item itemId="{{f.id}}" *ngFor="let f of menuItems" [isChecked]="selectedItems1 && selectedItems1.includes(f.id.toString())">{{f.text}}</spt-menu-item>
                    <spt-menu-item itemId="999" unselectable="true" startIcon="favorite"><em>save</em></spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>selected:</strong></p>
                <ul *ngIf="selectedItems1 && selectedItems1.length">
                    <ng-container *ngFor="let m of menuItems">
                        <li *ngIf="this.selectedItems1.includes(m.id.toString())">{{m.text}}</li>
                    </ng-container>
                </ul>
                <p *ngIf="!selectedItems1 || !selectedItems1.length"><em>select an item on the menu</em></p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Multiple Selection (with start icon)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu6"></spt-button>
                <spt-menu #menu6 [multiple]="true" [(selectedItems)]="selectedItems2">
                    <spt-menu-item startIcon="favorite" itemId="{{f.id}}" *ngFor="let f of menuItems">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>selected:</strong></p>
                <ul *ngIf="selectedItems2 && selectedItems2.length">
                    <ng-container *ngFor="let m of menuItems">
                        <li *ngIf="this.selectedItems2.includes(m.id.toString())">{{m.text}}</li>
                    </ng-container>
                </ul>
                <p *ngIf="!selectedItems2 || !selectedItems2.length"><em>select an item on the menu</em></p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Multiple Selection (with search)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu7"></spt-button>
                <spt-menu #menu7 [multiple]="true" [search]="true" [(selectedItems)]="selectedItems3" [(searchModel)]="searchModel3" (searchModelChange)="filter3()">
                    <spt-menu-item startIcon="favorite" itemId="{{f.id}}" *ngFor="let f of filteredMenuItems3">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>selected:</strong></p>
                <ul *ngIf="selectedItems3 && selectedItems3.length">
                    <ng-container *ngFor="let m of menuItems">
                        <li *ngIf="this.selectedItems3.includes(m.id.toString())">{{m.text}}</li>
                    </ng-container>
                </ul>
                <p *ngIf="!selectedItems3 || !selectedItems3.length"><em>select an item on the menu</em></p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Multiple Selection (with search and start icon)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu8"></spt-button>
                <spt-menu #menu8 [multiple]="true" [search]="true" [(selectedItems)]="selectedItems4" [(searchModel)]="searchModel4" (searchModelChange)="filter4()">
                    <spt-menu-item *ngFor="let f of filteredMenuItems4"
                                  startIcon="favorite"
                                  itemId="{{f.id}}"
                                  [isChecked]="selectedItems4 && selectedItems4.includes(f.id.toString())">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>selected:</strong></p>
                <ul *ngIf="selectedItems4 && selectedItems4.length">
                    <ng-container *ngFor="let m of menuItems">
                        <li *ngIf="this.selectedItems4.includes(m.id.toString())">{{m.text}}</li>
                    </ng-container>
                </ul>
                <p *ngIf="!selectedItems4 || !selectedItems4.length"><em>select an item on the menu</em></p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Multiple Selection (with search and select all)</h3>
        <div class="menu-example">
            <div>
                <spt-button text="menu" [spMenuTrigger]="menu9"></spt-button>
                <spt-menu #menu9 [multiple]="true" [search]="true"
                         [(selectedItems)]="selectedItems5"
                         [(searchModel)]="searchModel5"
                         [selectAllOption]="true"
                         (searchModelChange)="filter4()"
                         (toggleSelectAll)="toggleSelectAll($event)">
                    <spt-menu-item *ngFor="let f of filteredMenuItems5"
                                  itemId="{{f.id}}"
                                  [isChecked]="selectedItems5 && selectedItems5.includes(f.id.toString())">{{f.text}}</spt-menu-item>
                </spt-menu>
            </div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>selected:</strong></p>
                <ul *ngIf="selectedItems5 && selectedItems5.length">
                    <ng-container *ngFor="let m of menuItems">
                        <li *ngIf="this.selectedItems5.includes(m.id.toString())">{{m.text}}</li>
                    </ng-container>
                </ul>
                <p *ngIf="!selectedItems5 || !selectedItems5.length"><em>select an item on the menu</em></p>
            </div>
        </div>
    </div>

    <div class="spt-spacing-y--1">
        <h3>Single Selection with position</h3>
        <div class="menu-example">
<div class="menu-position-container">
    <spt-button text="menu" [spMenuTrigger]="menu1"></spt-button>
    <div class="menu-position">
        <spt-menu #menu1>
            <spt-menu-item (click)="actionSelected('item 1 selected', 1)">sample 1</spt-menu-item>
            <spt-menu-item (click)="actionSelected('item 2 selected', 1)">sample 2</spt-menu-item>
            <spt-menu-item (click)="actionSelected('item 3 selected', 1)">sample 3</spt-menu-item>
        </spt-menu>
    </div>
</div>
            <div class="spt-spacing--2 spt-elevation--1 menu-action">
                <p><strong>action: </strong></p>
                <p *ngIf="!actionText[1]"><em>select an item on the menu</em></p>
                <p>{{actionText[1]}}</p>
            </div>
        </div>
    </div>
</div>
