.title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #0D0C0B;
  }
  
.content {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4F4E4D;
}

.upload-box {
  width: 468px;
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 32px;
  border: 2px dashed #E2E2E2;
  box-sizing: border-box;
  border-radius: 4px;
}
.upload-box:hover {
  background-color: #F3F3F3;
}

.under-upload-text {
  display: flex;
  width: 468px;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  color: #909090;;
}

.icons {
  padding-top: 4px;
  margin: 10px;
}
  