<div class="menu-item" [ngClass]="{'multiple-menu-item': isMultiple(), 'single-menu-item': !isMultiple(), 'selected-item': isMultiple() && checkboxModel && !unselectable}">

    <!---- start icon ---->
    <div class="menu-icon" *ngIf="!!startIcon">
        <svg-icon *ngIf="!!startIcon" nz-icon [name]="startIcon" [svgStyle]="{ 'width.px':20, 'height.px':20 }"></svg-icon>
    </div>

    <!---- left checkbox (if there is no start icon) ---->
    <div *ngIf="isMultiple() && !startIcon && !unselectable">
        <label nz-checkbox nzValue="{{checkboxModel}}" [(ngModel)]="checkboxModel" (ngModelChange)="selectItem()"></label>
    </div>

    <!---- label ---->
    <div [ngClass]="{'label': !!startIcon || isMultiple()}"><ng-content></ng-content></div>

    <!---- right checkbox (if there is a start icon) ---->
    <div *ngIf="isMultiple() && !!startIcon && !unselectable" class="right-checkbox">
        <label nz-checkbox nzValue="{{checkboxModel}}" [(ngModel)]="checkboxModel" (ngModelChange)="selectItem()"></label>
    </div>
</div>
