<nz-tabset [nzSelectedIndex]="index" (nzSelectedIndexChange)="selectedIndexChange.emit($event)"
           [nzTabPosition]="TAB_POSITION[orientation]">
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" [nzDisabled]="tab.disabled">
        <ng-template #titleTemplate>
            <spt-tooltip [title]="tab.tooltip">
                <div class="title-container">
                    <div *ngIf="tab.icon" class="icon">
                        <spt-icon *ngIf="tab.icon" [name]="tab.icon" [size]="16" color="#FF9900"></spt-icon>
                    </div>
                    <div>{{ tab.name }}</div>
                </div>
            </spt-tooltip>
        </ng-template>
    </nz-tab>
</nz-tabset>
