.ant-notification-notice-content {
  background-color: #0d0c0b;
  color: white;
}

.ant-notification-notice-btn {
  color: white;
}

.ant-notification-notice-message {
  color: white;
}

.ant-notification-notice-btn {
  float: left;
  margin-top: 8px;
  cursor: pointer;
}
