<div class="spt-input-container text-field-container" [ngClass]="{'disabled-container': isDisabled}">

    <input #input nz-input [ngClass]="{'dirty': isDirty,
                                'error': !!error,
                                'has-left-icon': !!startIcon,
                                'has-right-icon': !!endIcon,
                                'has-length': !!max,
                                'disabled-state': isDisabled,
                                'show-placeholder': !label
                                }"
           (click)="isDisabled ? $event.stopPropagation() : null"
           (focus)="focus.emit()"
           [(ngModel)]="value"
           (ngModelChange)="changeAction($event)"
           [attr.type]="type"
           [attr.step]="step"
           [attr.min]="min"
           [attr.max]="max"
           [attr.maxlength]="maxlength"
           [class]="size" placeholder="{{placeholder}}"
           [disabled]="isDisabled"
           [readonly]="isDisabled || readonly"
           [style.background-color]="backgroundColor">

    <!-- label -->
    <label *ngIf="label" class="text-field-label label" [style.background-color]="backgroundColor">{{ label }}</label>

    <!-- hint -->
    <label class="text-field-bottom-label hint-label" *ngIf="!!hint && !error">{{ hint }}</label>

    <!-- error -->
    <label class="text-field-bottom-label error-label" *ngIf="!!error">{{ error }}</label>

    <!-- maxlength -->
    <label class="text-field-bottom-label length-label" *ngIf="maxlength">{{getLength()}}/{{maxlength}}</label>


    <!-- error icon -->
    <span *ngIf="!!error" class="text-field-icon error-icon">
        <svg-icon name="report" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </span>

    <!-- left icon -->
    <span *ngIf="!!startIcon" class="text-field-icon left-icon">
        <svg-icon name="{{startIcon}}" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </span>

    <!-- error icon -->
    <span *ngIf="!!endIcon && !error" class="text-field-icon right-icon">
        <svg-icon name="{{endIcon}}" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </span>
</div>


