<nz-table class="table" #secondTable [nzData]="dataSet">
  <thead>
    <tr>
      <th *ngIf="checkboxOn">
        <spt-checkbox></spt-checkbox>
      </th>
      <th *ngFor="let title of rows">
        <b>{{ title }}</b>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of secondTable.data">
      <td *ngIf="checkboxOn">
        <spt-checkbox></spt-checkbox>
      </td>
      <td>{{ data.number }}</td>
      <td>{{ data.date }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.amount }}</td>
      <td>
        <sp-badge
          [name]="data.status ? 'PAID' : 'NOT PAID'"
          color="#66BB6A"
        ></sp-badge>
      </td>
      <td>{{ data.invoice }}</td>
    </tr>
  </tbody>
</nz-table>
