[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
nz-select {
  width: 100px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.banner-section {
  height: 440px;
  .banner-reset {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: #888;
  }
  .banner-container {
    .banner {
      padding: 10px;
    }
  }
}
