<div class="inner-content">
    <div class="section">
        <h2>BUTTONS</h2>

        <div class="button-filters">
            <div class="spt-spacing-x--1">
                <spt-dropdown [(ngModel)]="buttonType" size="small" label="Button Type">
                    <spt-option *ngFor="let enum of enumButtonType | keyvalue" [value]="enum.value" [text]="enum.key">
                    </spt-option>
                </spt-dropdown>
            </div>

            <div class="spt-spacing-x--1">
                <spt-dropdown [(ngModel)]="buttonSize" size="small" label="Button Size">
                    <spt-option *ngFor="let enum of enumButtonSize | keyvalue" [value]="enum.value" [text]="enum.key">
                    </spt-option>
                </spt-dropdown>
            </div>
        </div>

        <div style="display: flex;">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Disabled
                    </th>
                </tr>
                <tr>
                    <th>
                        No Icon
                    </th>
                    <th>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize"></spt-button>
                    </th>
                    <th>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [disabled]="'true'">
                        </spt-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        With Icon Left
                    </th>
                    <td>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'delete'">
                        </spt-button>
                    </td>
                    <td>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'favorite'"
                            [disabled]="'true'"></spt-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        With Icon Right
                    </th>
                    <td>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'">
                        </spt-button>
                    </td>
                    <td>
                        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"
                            [disabled]="'true'"></spt-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Only Icon
                    </th>
                    <td>
                        <spt-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"></spt-button>
                    </td>
                    <td>
                        <spt-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'" [disabled]="'true'">
                        </spt-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="section">
        <h2>Button with custom colour</h2>
        <spt-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" color="#EF5350"></spt-button>
    </div>

    <div class="section">
        <h2>Chips</h2>

        <div style="display: flex;">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Disabled
                    </th>
                </tr>
                <tr>
                    <th>
                        No Icon
                    </th>
                    <th>
                        <spt-chip [text]="'Chip'"></spt-chip>
                    </th>
                    <th>
                        <spt-chip [text]="'Chip'" [disabled]="true"></spt-chip>
                    </th>
                </tr>
                <tr>
                    <th>
                        With Icon
                    </th>
                    <td>
                        <spt-chip [text]="'Chip'" [icon]="'favorite'"></spt-chip>
                    </td>
                    <td>
                        <spt-chip [text]="'Chip'" [icon]="'favorite'" [disabled]="true"></spt-chip>
                    </td>
                </tr>
                <tr>
                    <th>
                        Closeable
                    </th>
                    <td>
                        <spt-chip [text]="'Chip'" [icon]="'favorite'" [mode]="'closeable'" (onCloseEvent)="onClose()">
                        </spt-chip>
                    </td>
                    <td>
                        <spt-chip [text]="'Chip'" [icon]="'favorite'" [mode]="'closeable'" (onCloseEvent)="onClose()"
                            [disabled]="true"></spt-chip>
                    </td>
                </tr>
                <tr>
                    <th>
                        Checkable
                    </th>

                    <td>
                        <spt-chip [text]="'Chip'" [mode]="'checkable'" [checked]="true"
                            (onCheckEvent)="checkChange($event)"></spt-chip>
                    </td>
                    <td>
                        <spt-chip [text]="'Chip'" [mode]="'checkable'" [checked]="true"
                            (onCheckEvent)="checkChange($event)" [disabled]="true"></spt-chip>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- BANNER -->

    <div class="section banner-section spt-spacing-y--4">
        <h2>BANNER</h2>
        <p class="banner-reset" (click)="resetBanner()">Reset</p>
        <div class="banner-container" *ngIf="banners.length > 0">
            <spt-banner [bannerList]="banners"></spt-banner>
        </div>
    </div>

    <div class="section spt-spacing-y--4">
        <h2>Steps</h2>
        <spt-steps [current]="currentStep" [steps]="steps" [type]="'navigation'"
            (onIndexChangeEvent)="onIndexChange($event)"></spt-steps>

        <div class="spt-spacing-y--4">
            <h2>Steps (disable future steps)</h2>
            <spt-steps [current]="currentStep1" [steps]="[
                  { title: 'Step 1', description: '', status: 'wait' },
                  { title: 'Step 2', description: '', status: 'finish' },
                  { title: 'Step 3', description: '' },
                  { title: 'Step 4', description: '' },
                  { title: 'Step 5', description: '' }
            ]" [type]="'navigation'" [preventFutureSteps]="true"
                       (onIndexChangeEvent)="onIndexChange1($event)"></spt-steps>
            <div class="spt-spacing-y--2">
                <spt-button class="spt-spacing-right--1" text="PREV" [disabled]="currentStep1 === 0" (click)="onIndexChange1(currentStep1-1)"></spt-button>
                <spt-button text="NEXT" [disabled]="currentStep1 === steps.length - 1" (click)="onIndexChange1(currentStep1+1)"></spt-button>
            </div>
        </div>

    </div>

    <!-- Text field Example -->
    <div class="section spt-spacing-y--4">
        <spt-text-field-example></spt-text-field-example>
    </div>

    <!-- Dropdown Example -->
    <div class="section spt-spacing-y--4">
        <spt-dropdown-example></spt-dropdown-example>
    </div>

    <!-- Search Example -->
    <div class="section spt-spacing-y--4">
        <spt-search-example></spt-search-example>
    </div>

    <!-- Date Picker Example -->
    <div class="section spt-spacing-y--4">
        <spt-date-picker-example></spt-date-picker-example>
    </div>

    <!-- Back Navigation -->
    <div class="section spt-spacing-y--4">
        <h2>Back Navigation</h2>
        <spt-back-navigation title="Back" subTitle="This is a subtitle"></spt-back-navigation>
    </div>

    <!-- Breadcrumb -->
    <div class="section spt-spacing-y--4">
        <h2>Breadcrumb</h2>
        <spt-breadcrumb [items]="breadcrumbItems"></spt-breadcrumb>
    </div>

    <!-- Snackbar -->
    <div class="section spt-spacing-y--4">
        <h2>Snackbar</h2>
        <spt-snackbar #snackbar></spt-snackbar>
        <spt-button type="primary" text='Open Snackbar' (click)="OnOpenSnackbar()"></spt-button>
    </div>

    <!-- Menu -->
    <div class="section spt-spacing-y--4">
        <spt-menu-example></spt-menu-example>
    </div>

</div>
