<div class="inner-content">
    <div class="section">
        <h2>BUTTONS</h2>
        <span>Button Type: </span>
        <nz-select [(ngModel)]="buttonType" nzPlaceHolder="Select type">
            <ng-container *ngFor="let enum of enumButtonType | keyvalue">
                <nz-option nzValue="{{ enum.value }}" nzLabel="{{ enum.key }}"></nz-option>
            </ng-container>
        </nz-select>
        <span class="sp-spacing-y-left--1">Button Size: </span>
        <nz-select [(ngModel)]="buttonSize" nzPlaceHolder="Select Size">
            <ng-container *ngFor="let enum of enumButtonSize | keyvalue">
                <nz-option nzValue="{{ enum.value }}" nzLabel="{{ enum.key }}"></nz-option>
            </ng-container>
        </nz-select>

        <div style="display: flex;">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Disabled
                    </th>
                </tr>
                <tr>
                    <th>
                        No Icon
                    </th>
                    <th>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize"></sp-button>
                    </th>
                    <th>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [disabled]="disabled"></sp-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        With Icon Left
                    </th>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'favorite'" [disabled]="disabled"></sp-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        With Icon Right
                    </th>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'" [disabled]="disabled"></sp-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Only Icon
                    </th>
                    <td>
                        <sp-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'" [disabled]="disabled"></sp-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Text field Example -->
    <sp-text-field-example></sp-text-field-example>

</div>

