<div class="inner-content">
    <div class="section">
        <h2>BUTTONS</h2>

        <div class="button-filters">
            <div class="sp-spacing-x--1">
                <sp-dropdown [(ngModel)]="buttonType" size="small" label="Button Type">
                    <sp-option *ngFor="let enum of enumButtonType | keyvalue" [value]="enum.value" [text]="enum.key"></sp-option>
                </sp-dropdown>
            </div>

            <div class="sp-spacing-x--1">
                <sp-dropdown [(ngModel)]="buttonSize" size="small" label="Button Size">
                    <sp-option *ngFor="let enum of enumButtonSize | keyvalue" [value]="enum.value" [text]="enum.key"></sp-option>
                </sp-dropdown>
            </div>
        </div>

        <div style="display: flex;">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Disabled
                    </th>
                </tr>
                <tr>
                    <th>
                        No Icon
                    </th>
                    <th>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize"></sp-button>
                    </th>
                    <th>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [disabled]="'true'"></sp-button>
                    </th>
                </tr>
                <tr>
                    <th>
                        With Icon Left
                    </th>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [leftIcon]="'favorite'" [disabled]="'true'"></sp-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        With Icon Right
                    </th>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [text]="'Button'" [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'" [disabled]="'true'"></sp-button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Only Icon
                    </th>
                    <td>
                        <sp-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'"></sp-button>
                    </td>
                    <td>
                        <sp-button [type]="buttonType" [size]="buttonSize" [rightIcon]="'favorite'" [disabled]="'true'"></sp-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="section">
        <h2>Chips</h2>

        <div style="display: flex;">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Disabled
                    </th>
                </tr>
                <tr>
                    <th>
                        No Icon
                    </th>
                    <th>
                        <sp-chip [text]="'Chip'"></sp-chip>
                    </th>
                    <th>
                        <sp-chip [text]="'Chip'" [disabled]="true"></sp-chip>
                    </th>
                </tr>
                <tr>
                    <th>
                        With Icon
                    </th>
                    <td>
                        <sp-chip [text]="'Chip'" [icon]="'favorite'"></sp-chip>
                    </td>
                    <td>
                        <sp-chip [text]="'Chip'" [icon]="'favorite'" [disabled]="true"></sp-chip>
                    </td>
                </tr>
                <tr>
                    <th>
                        Closeable
                    </th>
                    <td>
                        <sp-chip [text]="'Chip'" [icon]="'favorite'" [mode]="'closeable'" (onCloseEvent)="onClose(e)"></sp-chip>
                    </td>
                    <td>
                        <sp-chip [text]="'Chip'" [icon]="'favorite'" [mode]="'closeable'" (onCloseEvent)="onClose(e)" [disabled]="true"></sp-chip>
                    </td>
                </tr>
                <tr>
                    <th>
                        Checkable
                    </th>
                    <td>
                        <sp-chip [text]="'Chip'" [mode]="'checkable'" [checked]="true" (onCheckEvent)="checkChange($event)"></sp-chip>
                    </td>
                    <td>
                        <sp-chip [text]="'Chip'" [mode]="'checkable'" [checked]="true" (onCheckEvent)="checkChange($event)" [disabled]="true"></sp-chip>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- BANNER -->

    <div class="section banner-section sp-spacing-y--4">
        <h2>BANNER</h2>
        <p class="banner-reset" (click)="resetBanner()">Reset</p>
        <div class="banner-container" *ngIf="banners.length > 0">
            <sp-banner [bannerList]="banners"></sp-banner>
        </div>
    </div>

    <div class="section sp-spacing-y--4">
        <h2>Steps</h2>
        <sp-steps [current]="currentStep" [steps]="steps" [type]="'navigation'" (onIndexChangeEvent)="onIndexChange($event)"></sp-steps>
    </div>

    <!-- Text field Example -->
    <div class="section sp-spacing-y--4">
        <sp-text-field-example></sp-text-field-example>
    </div>

    <!-- Dropdown Example -->
    <div class="section sp-spacing-y--4">
        <sp-dropdown-example></sp-dropdown-example>
    </div>

    <!-- Search Example -->
    <div class="section sp-spacing-y--4">
        <sp-search-example></sp-search-example>
    </div>

    <!-- Breadcrumb -->

    <div class="section banner-section sp-spacing-y--4">
        <h2>Breadcrumb</h2>
        <sp-breadcrumb [items]="breadcrumbItems"></sp-breadcrumb>
    </div>

</div>