<div class="spt-input-container text-field-container" [ngClass]="{'disabled-container': isDisabled}">
    <input nz-input [ngClass]="{'dirty': isDirty, 'error': !!error, 'has-left-icon': !!startIcon, 'has-right-icon': !!endIcon, 'disabled-state': isDisabled}"
           (click)="isDisabled ? $event.stopPropagation() : datePickerEl.open()"
           [(ngModel)]="formattedDate"
           [class]="size" placeholder="{{placeholder}}"
           [attr.disabled]="!!isDisabled ? isDisabled : null" readonly>
    <!-- label -->
    <label class="text-field-label label">{{ label || placeholder }}</label>

    <!-- error -->
    <label class="text-field-bottom-label error-label" *ngIf="!!error">{{ error }}</label>

    <!-- error icon -->
    <span *ngIf="!!error" class="text-field-icon error-icon">
        <svg-icon name="report" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </span>
</div>

<nz-date-picker #datePickerEl style="visibility: hidden; transform: translateY(-35px)"
                [(ngModel)]="value" (ngModelChange)="convertDate($event)" [nzDisabledDate]="disabledDate"></nz-date-picker>
