.elevation {
    display: flex;
    flex-wrap: wrap;
    .elevation-container {
      margin-top: 20px;
      p {
        margin-bottom: 5px;
      }
      .elevation-box {
        width: 280px;
        height: 184px;
        margin: 10px;
      }
    }
  }