<div class="header">
  <div class="sub-header-1">
    <spt-back-navigation
      *ngIf="backTitle"
      [title]="backTitle"
    ></spt-back-navigation>
    <spt-breadcrumb *ngIf="breadcrumbs" [items]="breadcrumbs"></spt-breadcrumb>
    <span class="title">{{ title }}</span>
  </div>
  <div class="sub-header-2" *ngIf="search">
    <div class="search">
      <spt-search></spt-search>
    </div>
    <spt-button
      *ngIf="btnTitle"
      [text]="btnTitle"
      [type]="buttonType"
      [size]="buttonSize"
      (click)="action()"
    ></spt-button>
  </div>
</div>
