<nz-layout class="layout">
    <nz-header>
        <div>
            <h1 class="center" nz-typography>UI Components</h1>
        </div>
    </nz-header>
    <nz-layout>
        <nz-sider style="flex: 0 0 280px;max-width: 280px;">
            <sp-sidebar [sidebarData]="sideData" [optionsData]="optionsData"></sp-sidebar>
        </nz-sider>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
    <nz-footer>
        Angular UI Components - implemented by Spoonity
    </nz-footer>
</nz-layout>