<nz-layout class="layout">
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzWidth]="280" [nzCollapsedWidth]="88" [nzTheme]="light">
        <div class="logo">
            <img src="../assets/spoonity_logo.png" height="32">
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="Atoms" nzIcon="border" nzOpen [routerLink]="['/atoms']" routerLinkActive="router-link-active">
                <ul>
                    <li nz-menu-group nzTitle="Avatars"></li>
                    <li nz-menu-group nzTitle="Badges"></li>
                    <li nz-menu-group nzTitle="Divider"></li>
                    <li nz-menu-group nzTitle="Progress Bar"></li>
                    <li nz-menu-group nzTitle="Selection Controls"></li>
                    <li nz-menu-group nzTitle="Sliders"></li>
                    <li nz-menu-group nzTitle="Tabs"></li>
                    <li nz-menu-group nzTitle="Tooltips"></li>

                </ul>
            </li>
            <li nz-submenu nzTitle="Molecules" nzIcon="apartment" [routerLink]="['/molecules']" routerLinkActive="router-link-active"></li>
            <li nz-submenu nzTitle="Organisms" nzIcon="gateway" [routerLink]="['/organims']" routerLinkActive="router-link-active"></li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div>
                <h1 class="center" nz-typography>UI Components</h1>
            </div>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Angular UI Components - implemented by Spoonity</nz-footer>
    </nz-layout>
</nz-layout>