<nz-layout class="layout">
    <nz-sider nzCollapsible nzBreakpoint="lg" [nzWidth]="280" [nzCollapsedWidth]="88" [nzTheme]="'light'">
        <div class="logo">
            <img src="../assets/spoonity_logo.png" height="32" />
        </div>
        <ul nz-menu nzMode="inline">
            <sp-side-navigation [type]="sideNavigationType.subMenu" [text]="'Atoms'" [icon]="'favorite'" [routerLink]="['/atoms']" [items]="atomsMenuItems">
            </sp-side-navigation>
            <sp-side-navigation [type]="sideNavigationType.subMenu" [text]="'Molecules'" [icon]="'apartment'" [routerLink]="['/molecules']">
            </sp-side-navigation>
            <sp-side-navigation [type]="sideNavigationType.subMenu" [text]="'Organisms'" [icon]="'gateway'" [routerLink]="['/organims']">
            </sp-side-navigation>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div>
                <h1 class="center" nz-typography>UI Components</h1>
            </div>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Angular UI Components - implemented by Spoonity</nz-footer>
    </nz-layout>
</nz-layout>