nz-header {
  background: #fff;
  padding: 10px;
}

nz-content {
  margin: 24px 16px 0;
}

.center {
  text-align: center;
}

.layout {
  min-height: 100vh;
}

.logo {
  padding: 5px;
  margin: 16px;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

