<div class="inner-content">
    <div class="section">
        <h2>DATA VISUALIZATION</h2>
        <div nz-row>
            <h3>Big Numbers</h3>
            <div nz-col nzSpan="12" class="data-visualization-container spt-spacing--1">
                <h3>Standard</h3>
                <spt-data-visualization [title]="'1234'" [description]="'label'">
                    <span>
            body
          </span>
                </spt-data-visualization>
            </div>
            <div nz-col nzSpan="12" class="data-visualization-container spt-spacing--1">
                <h3>Sparkline</h3>
                <spt-data-visualization [title]="'1234'" [description]="'label'">
                    <spt-chart class="spt-spacing--1" [data]="chartData" [labels]="chartLabels" [type]="type1"></spt-chart>
                </spt-data-visualization>
            </div>
        </div>
    </div>
    <br>
    <div class="section">
        <h2>DIALOGS</h2>
        <spt-dialogs></spt-dialogs>
        <button nz-button nzType="primary" (click)="createModal()">
          <span>Open Dialog</span>
        </button>
    </div>
    <br>
    <div class="section">
        <h2>HEADER</h2>
        <div>
            <h3>Only Title</h3>
            <div class="flex-column">
                <div class="flex-row">
                    <div class="label">
                        <span>Default</span>
                    </div>
                    <spt-header title="Menu"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Back Button</span>
                    </div>
                    <spt-header title="Menu" backTitle="Back"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Breadcrumbs</span>
                    </div>
                    <spt-header title="Menu" [breadcrumbs]="breadcrumbItems"></spt-header>
                </div>
            </div>
        </div>
        <div>
            <h3>Title + Action Button</h3>
            <div class="flex-column">
                <div class="flex-row">
                    <div class="label">
                        <span>Default</span>
                    </div>
                    <spt-header title="Menu" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Back Button</span>
                    </div>
                    <spt-header title="Menu" backTitle="Back" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Breadcrumbs</span>
                    </div>
                    <spt-header title="Menu" [breadcrumbs]="breadcrumbItems" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
            </div>
        </div>
        <div>
            <h3>Title + Search + Action Button</h3>
            <div class="flex-column">
                <div class="flex-row">
                    <div class="label">
                        <span>Default</span>
                    </div>
                    <spt-header title="Menu" [search]="true" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Back Button</span>
                    </div>
                    <spt-header title="Menu" backTitle="Back" [search]="true" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
                <div class="flex-row">
                    <div class="label">
                        <span>With Breadcrumbs</span>
                    </div>
                    <spt-header title="Menu" [breadcrumbs]="breadcrumbItems" [search]="true" btnTitle="Options" [action]="headerAction"></spt-header>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="section">
        <h2>SIDEBAR</h2>
        <div>
            <h3>Sidebar Single Account</h3>
            <spt-sidebar [sidebarData]="sideData" [optionsData]="optionsData"></spt-sidebar>
            <h3>Sidebar Multiple Accounts</h3>
            <spt-sidebar [sidebarData]="sideDataMultiAccount" [optionsData]="optionsData"></spt-sidebar>

        </div>
    </div>
    <br>
    <div class="section">
        <h2>TABLE</h2>
        <spt-table [rows]="dataRows" [dataSet]="dataSet">
            <tr *ngFor="let data of dataSet">
              <td>{{ data.number }}</td>
              <td>{{ data.date }}</td>
              <td>{{ data.description }}</td>
              <td>{{ data.amount }}</td>
              <td>
                <spt-badge
                  [name]="data.status ? 'PAID' : 'NOT PAID'"
                  color="#66BB6A"
                ></spt-badge>
              </td>
              <td>{{ data.invoice }}</td>
            </tr>
        </spt-table>
        <br>

        <h3>TABLE WITH CHECKBOX</h3>
        <spt-table [rows]="dataRows" [dataSet]="dataSet" [checkboxOn]="true">
            <tr *ngFor="let data of dataSet">
              <td>
                <spt-checkbox></spt-checkbox>
              </td>
              <td>{{ data.number }}</td>
              <td>{{ data.date }}</td>
              <td>{{ data.description }}</td>
              <td>{{ data.amount }}</td>
              <td>
                <spt-badge
                  [name]="data.status ? 'PAID' : 'NOT PAID'"
                  color="#66BB6A"
                ></spt-badge>
              </td>
              <td>{{ data.invoice }}</td>
            </tr>
        </spt-table>
    </div>
    <br>
    <div class="section">
        <h2>Upload</h2>
        <spt-upload></spt-upload>
        <button nz-button nzType="primary" (click)="createModalU()">
          <span>Upload File</span>
        </button>
    </div>
    <br>
    <div class="section">
        <h2>Cards</h2>
        <!-- <div class="button-filters">
            <div class="spt-spacing-x--1">
                <spt-dropdown [(ngModel)]="cardType" size="small" label="cardType">
                    <spt-option *ngFor="let enum of enumCardType | keyvalue" [value]="enum.value" [text]="enum.value"></spt-option>
                </spt-dropdown>
            </div>
        </div> -->

        <!-- <button nz-button nzType="primary" (click)="toggleCard()">
            <span>Toggle Send State</span>
        </button> -->
        <br>
        <h2>Campaign</h2>
        <div *ngFor="let card of campaigns">
            <br>
            <spt-card [campaign]="card">
    
                <div class="target-group">
                    <spt-icon
                        class="icons"
                        [toolTipTitle]="'target group'"
                        [name]="'people'"
                    ></spt-icon>
                    <span class="shadow-text">birthday</span>
                </div>
    
                <div class="menu">
                    <spt-button [type]="'link'" leftIcon="more-vert" [spMenuTrigger]="menu"></spt-button>
                    <spt-menu #menu>
                        <spt-menu-item startIcon="edit" (click)="duplicateAction()">Duplicate</spt-menu-item>
                        <spt-menu-item startIcon="delete" (click)="deleteAction()">Delete</spt-menu-item>
                    </spt-menu>
                </div>
                
            </spt-card>
        </div>

        <h2>Customer</h2>
        <div *ngFor="let card of customers">
            <br>
            <h2>{{card.type | uppercase}}</h2>
            <spt-card [customer]="card"></spt-card>
        </div>
        <h2>Gift Management</h2>
        <div *ngFor="let card of giftManagements">
            <br>
            <h2>{{card.type | uppercase}}</h2>
            <spt-card [giftManagement]="card" [cancel]="cancelAction" [goToGuest]="goToGuestAction"></spt-card>
        </div>
        <!-- <div class="button-filters">
            <div class="spt-spacing-x--1">
                <spt-dropdown [(ngModel)]="deliverProcess" size="small" label="Deliver Process">
                    <spt-option *ngFor="let enum of emunDeliverProcess | keyvalue" [value]="enum.value" [text]="enum.value"></spt-option>
                </spt-dropdown>
            </div>
        </div> -->
    </div>
</div>
