.data-visualization-container {
  width: 360px;
}

.inner-content {
  padding: 24px;
  background-color: #fff;
  min-width: 100%;
  width: fit-content;
  max-width: 1200px;
}
h2 {
  text-transform: capitalize;
}

.flex-column {
  display: flex;
  flex-direction:column;
}

.flex-row {
  display: flex;
  height: 150px;
}

.label {
  display: flex;
  width: 200px;
}

.button-filters {
  display: flex;
}

.header {
  display: flex;
  flex-grow: 8;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.sub-header-1 {
  display: flex;
  flex-direction: column;
}

.sub-header-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.search {
  width: 300px;
  padding-right: 30px;
}

.title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
}

.icons {
  padding-top: 4px;
  margin: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  height: 120px;
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.card:active {
  background-color: #F3F3F3;
}

.col1 {
  width: 400px;
  display: flex;
  flex-direction: row;
}

.sms {
  min-width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
}

.campaign {
  width: 100%;
  margin: 8px 0 8px 24px;
}

.sub-content1 {
  nz-tag {
  margin: 0;
  }
}
.sub-content2 {
  display: flex;
  align-items: center;
}

.sub-content3 {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sub-content4 {
  margin-left: 40px;
}

.shadow-text {
  color: #909090;
  font-weight: normal;
  font-size: 14px;
}

.col2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.printer-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.printer {
  display: flex;
  align-items: center;
  width: 144px;
  height: 48px;
  background-color: #F3F3F3;
  border-radius: 4px;
  padding: 10px;
}

.sendIcon {
  padding-top: 30px;
  margin: 0px 15px 0 10px;
}

.moreVertIcon {
  padding-bottom: 60px;
}

.col3 {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.active {
  background-color: #F3F3F3;
}





