@primary100: #FF9900;

.dropdown-options-container {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.spt-input-container {
  input {
    & ~ .right-icon {
      transition: all 0.2s ease, background-color 0.2s ease-in;
    }
  }
  input:focus {
    & ~ .right-icon {
      transform: rotateZ(180deg) translateY(50%);
      transition: all 0.2s ease, background-color 0.2s ease-in;
      svg {
        path {
          fill: @primary100;
        }
      }
    }
  }
}
