<div
  [ngClass]="{ card: campaign || giftManagement, cardForCustomer: customer }"
  (mouseover)="isMouseOver = true"
  (mouseout)="isMouseOver = false"
  [ngStyle]="{ 'background-color': customer?.isSelect ? '#F3F3F3' : '' }"
>
  <div class="col1">
    <div class="campaign">
      <div class="campaign" *ngIf="campaign">
        <spt-icon
          class="icons"
          [toolTipTitle]="(
                  campaign.notification_template.medium.id == 1
                    ? 'email'
        : campaign.notification_template.medium.id == 4
        ? 'stay_current_portrait'
        : 'chat'
        )"
          [name]="campaign.notification_template.medium.name"
        ></spt-icon>
        <span class="shadow-text" *ngIf="campaign.notification_template.medium.name === 'sms'"
          ><b>{{ campaign.notification_template.medium.name | uppercase }}</b></span
        >
      </div>
      <div
        class="campaign"
        *ngIf="customer"
        [ngStyle]="{ 'background-color': !isMouseOver ? white : '' }"
      >
        <spt-avatar
          [hidden]="isMouseOver"
          [text]="customer.name | slice: 0:1"
          [size]="avatarSize"
          [backgroundColor]="white"
          [color]="red"
        ></spt-avatar>
        <spt-checkbox
          [hidden]="!isMouseOver"
          [check]="customer.isSelect"
          (onChangeEvent)="customer.isSelect = $event"
        ></spt-checkbox>
      </div>
      <div class="campaign" *ngIf="giftManagement">
        <spt-icon
          class="icons"
          [toolTipTitle]="redeem"
          [name]="redeem"
        ></spt-icon>
      </div>
    </div>
    <div class="content">
      <div class="content" *ngIf="campaign">
        <div class="sub-content1">
          <spt-badge
            class="badge"
            [color]="(campaign.status.id === CAMPAIGN_STATUS.ACTIVE || campaign.status.id === CAMPAIGN_STATUS.COMPLETE) ? green : red"
            [name]="getStatus(campaign.status.id)"
          ></spt-badge>
          <span class="shadow-text">Created: {{ campaign.date_created * 1000 | date: "MMMM d, y" }}</span>
        </div>
        <span>{{ campaign.name }}</span>
        <div class="sub-content2">
          <spt-icon
            class="icons"
            [toolTipTitle]="'target group'"
            [name]="people"
          ></spt-icon>
          <span class="shadow-text">{{ campaign.target_group_id }}</span>
        </div>
      </div>
      <div class="content" *ngIf="customer">
        <div class="sub-content3">
          <span>{{ customer.name }}</span>
          <span class="shadow-text"
            >Member Since: {{ customer.dateCreated }}</span
          >
        </div>
      </div>
      <div class="content" *ngIf="giftManagement">
        <div class="sub-content1">
          <spt-badge
            class="badge"
            [name]="giftManagement.deliverProcess | uppercase"
            color="#66BB6A"
          ></spt-badge>
          <span class="shadow-text"
            >Created: {{ giftManagement.dateCreated }}</span
          >
        </div>
        <span
          ><b>ID: {{ giftManagement.id }}</b></span
        >
      </div>
    </div>
  </div>
  <div class="col2">
    <div class="col2" *ngIf="campaign">
      <div class="printer-container">
        <span class="shadow-text">Send</span>
        <div class="printer">
          <span>{{ getMetric('Send', campaign) }}</span>
        </div>
      </div>
      <div class="sendIcon">
        <spt-icon class="icons" [toolTipTitle]="send" [name]="send"></spt-icon>
      </div>
      <div class="printer-container">
        <span class="shadow-text">Open</span>
        <div class="printer">
          <span>{{ getMetric('Open', campaign) }}</span>
        </div>
      </div>
      <div class="sendIcon">
        <spt-icon class="icons" [toolTipTitle]="send" [name]="send"></spt-icon>
      </div>
      <div class="printer-container">
        <span class="shadow-text">Visit</span>
        <div class="printer">
          <span>{{ getMetric('Visit', campaign) }}</span>
        </div>
      </div>
      <div class="sendIcon">
        <spt-icon class="icons" [toolTipTitle]="send" [name]="send"></spt-icon>
      </div>
      <div class="printer-container">
        <span class="shadow-text">Spend</span>
        <div class="printer">
          <span>{{ getMetric('Spend', campaign) }}</span>
        </div>
      </div>
      <div class="moreVertIcon">
        <spt-icon
          class="icons"
          [toolTipTitle]="moreVert"
          [name]="moreVert"
          (click)="option()"
        ></spt-icon>
      </div>
    </div>

    <div class="col2" *ngIf="customer">
      <div class="sub-content3">
        <div>
          <spt-icon
            class="icons"
            [toolTipTitle]="email"
            [name]="email"
          ></spt-icon>
          <span class="shadow-text">Email</span>
        </div>
        <div class="sub-content4">
          <span>{{ customer.email }}</span>
        </div>
      </div>
      <div class="sub-content3">
        <div>
          <spt-icon class="icons" [toolTipTitle]="call" [name]="call"></spt-icon>
          <span class="shadow-text">Phone</span>
        </div>
        <div class="sub-content4">
          <span>{{ customer.phone }}</span>
        </div>
      </div>
    </div>

    <div class="col2" *ngIf="giftManagement">
      <div class="sub-content3">
        <div>
          <spt-icon
            class="icons"
            [toolTipTitle]="email"
            [name]="email"
          ></spt-icon>
          <span class="shadow-text">Email</span>
        </div>
        <div class="sub-content4">
          <span>{{ giftManagement.email }}</span>
        </div>
      </div>
      <div class="sub-content3">
        <div>
          <spt-icon class="icons" [toolTipTitle]="call" [name]="call"></spt-icon>
          <span class="shadow-text">Phone</span>
        </div>
        <div class="sub-content4">
          <span>{{ giftManagement.phone }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col3" *ngIf="giftManagement">
    <spt-button
      [size]="buttonSize"
      [type]="btnType"
      [text]="'CANCEL'"
      (click)="cancel()"
    ></spt-button>
    <spt-button
      [size]="buttonSize"
      [type]="btnType"
      [text]="'GO TO GUEST'"
      (click)="goToGuest()"
    ></spt-button>
  </div>
</div>
