.card,
.customerCard {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  background: #ffffff;
  min-width: fit-content;
  overflow: hidden;
  height: 100%;
  margin-bottom: 24px;
  spt-icon svg-icon .anticon{
    vertical-align: 0.35rem !important;
  }
}

.card:hover {
  cursor: pointer;
}

.card:active {
  background-color: #f3f3f3;
}

.customerCard:active {
  background-color: #f3f3f3;
}

.col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffebee;
  height: 88px;
  min-width: 88px;
}

.sub-content3 {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.sub-content4 {
  margin-left: 20px;
}

.campaign-col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.campaign-body {
  height: 120px;
  min-width: 120px;
}

.campaign-icon {
  display: flex;
  flex-direction: column;
}

.gift-col {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gift-content {
  align-items: center;
}

.gift-body {
  height: 120px;
  min-width: 120px;
}

.col1 {
  display: flex;
  flex-direction: row;
}

.sub-content1 {
  display: flex;
  padding-bottom: 10px;
}

.sub-content1 nz-tag {
  margin: 0;
}

.sub-content2 {
  display: flex;
  align-items: center;
}

.shadow-text {
  color: #4f4e4d;
}

.date {
  color: #909090;
}

.padding-left {
  padding-left: 16px;
}

.col2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.printer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.printer {
  display: flex;
  align-items: center;
  min-width: 80px;
  height: 48px;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 10px;
}

.sendIcon {
  padding-top: 30px;
  margin: 0px 15px 0 10px;
}

.menu-content {
  padding-bottom: 60px;
}

.col3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.text-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

spt-badge {
  font-weight: normal;
}

.subTitle1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.body1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.body2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.content-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-content {
  min-width: 220px;
  display: flex;
  flex-direction: column;
}

