<div>
    <spt-button text="menu" [spMenuTrigger]="menu"></spt-button>
    <spt-menu #menu [multiple]="multiple" [search]="search"
        [(selectedItems)]="selectedItems"
        [(searchModel)]="searchModel"
        [selectAllOption]="selectAllOption"
        (searchModelChange)="filter()"
        (toggleSelectAll)="toggleSelectAll($event)">
        <spt-menu-item [startIcon]="iconName" *ngFor="let f of filteredMenuItems" (click)="actionSelected(f.text, 3)">{{f.text}}</spt-menu-item>
    </spt-menu>
</div>
