<div #searchReference class="spt-input-container search-container" [ngClass]="{'disabled-container': isDisabled}" (click)="launchOnFocus ? focusAction() : null">
    <div class="search-wrapper {{size}} " [ngClass]="{'item-focus': focus}"
         [style.background-color]="backgroundColor">
        <!-- search icon -->
        <div class="search-icon left-icon">
            <svg-icon name="search" [svgStyle]="{ 'width.px':24 }"></svg-icon>
        </div>

        <!-- selected items (chips) -->
        <div class="selected-items spt-spacing-x--1" *ngIf="selectedItems.length">
            <div class="selected-item" *ngFor="let s of selectedItems">
                <spt-chip [text]="s.text"
                         [icon]="s.icon" mode="closeable"
                         [color]="s.color"
                         (onCloseEvent)="onClose(s)"></spt-chip>
            </div>
        </div>
        <input #input *ngIf="(maximumSelection ? selectedItems.length < maximumSelection : true) && !readonly"
               (focus)="focusAction()" (blur)="blurAction()"
               [ngClass]="{'dirty': isDirty, 'error': !!error, 'disabled-state': isDisabled}"
               [style.background-color]="backgroundColor"
               [(ngModel)]="value"
               (ngModelChange)="changeAction($event)"
               (keydown)="onKeyDown($event)"
               placeholder="{{placeholder}}" autocomplete="off" [readonly]="readonly">

        <!-- because input is hidden on readonly mode display the placeholder separately -->
        <p class="font-60" *ngIf="readonly" style="margin: 0; cursor: default">{{placeholder}}</p>
    </div>

    <spt-overlay-template [reference]="searchReference" #searchComp>
        <div class="search-options-container spt-elevation--5">
            <ng-content select="spt-search-option"></ng-content>
            <ng-content select="div.search-override"></ng-content>
        </div>
    </spt-overlay-template>

</div>


